*{
    margin: 0%;
    padding: 0;
    font-family: "Josefin Sans", serif;
    :root { --home-color:#2196F3; }
}
/* nav section */
.nav-link:hover{
    color: black !important;
    text-decoration:underline;
    text-decoration-color: var(--bs-primary);
  } 
/*  about */
.item{
    width: 300px;
    height: 300px;
}
.section{
    display: none;
}
.section:target{
    display: block;
}
/* course section */
.div{
    transition: all 0.8s ease-in-out;
}
.div:hover{
    transform: scale(1.05); 
    box-shadow: 0 4px 8px var(--bs-primary); 
}
/* footer */
.d-block{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.d-block:hover{
    color:white;
    text-decoration: underline;
}
/* short cut section */
.short{
    position: fixed;
    bottom: 20px;
    right: 40px;
    background-color:white;
    color:var(--bs-primary);
    padding: 10px 19px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
}
@media (max-width: 768px) {
    .short{
        bottom: 20px;
        right: 30px;
    }
    
}